<%= form_with(model: band) do |form| %>
  <% if band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
        <% band.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <span class="mr-2">Nombre</span>
    <%= form.text_field :name, class: "rounded p-2 w-full" %>
  </div>

  <div class="mb-2">
    <span class="mr-2">Integrantes</span>
    <%= form.number_field :crew, in: 1..100, class: "rounded p-2 w-full" %>
  </div>

  <div class="">
    <span class="mr-2">Debut</span>
    <%= form.date_field :debut, type: "date", class: "rounded p-2 w-full" %>
  </div>

  <div class="flex justify-center">
    <%= form.submit "Guardar", class: "py-1 rounded bg-gray-300 hover:bg-green-400 text-center mt-5 w-full" %>
  </div>
<% end %>